<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>IEDC GECT</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Hookah Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <!-- //font-awesome icons -->
      <!--gallery-->
      <link rel="stylesheet" href="/static/css/lightbox.css">
      <!--//gallery-->
      <!--stylesheets-->
      <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
   </head>
   <div class="header-outs" id="header">
      <!-- headder -->
      <div class="header-most-top">
         <div class="one-headder">
            <div class="container-fluid">
               <div class="row left-indus-icons RWDpagescrollfix">
                  <div class="col-lg-5 col-md-5 col-sm-4 pr-0 headder-icons">
                     <ul>
                        <li>
                           <h4><img src="/static/images/logo.jpg">&nbsp;&nbsp;&nbsp;GOVERNMENT ENGINEERING COLLEGE, THRISSUR</h4>
                        </li>
                      <!---  <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>--->
                     </ul>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-8 email-call ">
                     <ul>
                        <li>
                           <h4>Call Us : </h4>
                           <p>0487 2334590</p>
                        </li>
                        <li class="pl-lg-3 pl-2">
                           <h4>Email Us :</h4>
                           <p><a href="mailto:info@example.com">info@example1.com</a></p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="headder-nav-icon pagescrollfix">
            <div class="container-fluid">
               <div class="nav-headder-top">
                  <!--//navigation section -->
                  <nav class="navbar navbar-expand-lg navbar-light pagescrollfix">
                     <div class="hedder-up">
                        <h1><img src="/static/images/gh.jpg">&nbsp;&nbsp;&nbsp;<a class="navbar-brand" href="index.html">IEDC GECT</a></h1>
                     </div>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                           <li class="nav-item active">
                              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                           </li>
                           <li class="nav-item">
                              <a href="#about" class="nav-link scroll">About</a>
                           </li>
                           <li class="nav-item">
                              <a href="#service" class="nav-link scroll">Activities</a>
                           </li>
                           <li class="nav-item">
                              <a href="#gallery" class="nav-link scroll">Team</a>
                           </li>
                           <li class="nav-item">
                              <a href="#team" class="nav-link scroll">Gallery</a>
                           </li>
                           <li class="nav-item">
                              <a href="#contact" class="nav-link scroll">Contact</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
               <div class="clearfix"> </div>
            </div>
         </div>
      </div>
      <!-- //Navigation -->
      <!-- //header -->
      <!-- Slideshow 4 -->
      <div class="slider">
         <div class="callbacks_container">
            <ul class="rslides" id="slider4">
               <li>
                  <div class="slide-img one-img">
                     <div class="container">
                        <div class="slide-info text-center">
                           <h5>INNOVATION AND ENTREPREUNERSHIP DEVELOPMENT CENTER</h5>
                           <div class="slide-info-txt">
                           </div>
                           <div class="two-mid-button d-flex justify-content-center mt-lg-5 mt-md-4 mt-sm-4 mt-3">
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="slide-img two-img text-center">
                     <div class="container">
                        <div class="slide-info ">
                           <h5>INNOVATION AND ENTREPREUNERSHIP DEVELOPMENT CENTER</h5>
                           <div class="slide-info-txt">
                           </div>
                           <div class="two-mid-button d-flex justify-content-center mt-lg-5 mt-md-4 mt-sm-4 mt-3">
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <!-- This is here just to demonstrate the callbacks -->
         <!-- <ul class="events">
            <li>Example 4 callback events</li>
            </ul>-->
         <div class="clearfix"></div>
      </div>
   </div>
   <!-- //banner -->
   <!--about -->
   <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title text-center mb-2">About Us</h3>
         <div class="title-wls-text text-center mb-2">
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="/static/images/aa1.png" alt="" class="img-fluid">
            <p>The International Economic Development Council (IEDC) is a non-profit, non-partisan membership organization serving economic developers. With more than 5,000 members, IEDC is the largest organization of its kind. Economic developers promote economic well-being and quality of life for their communities, by creating, retaining and expanding jobs that facilitate growth, enhance wealth and provide a stable tax base. From public to private, rural to urban and local to international, IEDC’s members are engaged in the full range of economic development experience. Given the breadth of economic development work, our members are employed in a wide variety of settings including local, state, provincial and federal governments, public-private partnerships, chambers of commerce, universities and a variety of other institutions. When we succeed, our members create high-quality jobs, develop vibrant communities, and improve the quality of life in their regions.
            </p>
         </div>
         <h3 class="title text-center mb-2">Vision</h3>
         <div class="title-wls-text text-center mb-2">
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="/static/images/aa1.png" alt="" class="img-fluid">
         	<p>Be careful a centre of excellence to enable and encourage students to become successful entrepreuners by generating novels ideas to meet up the current market demands and needs of society to motivate for develop their own enterprises.</p>
         </div>
         <h3 class="title text-center mb-2">Mission</h3>
         <div class="title-wls-text text-center mb-2">
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="/static/images/aa1.png" alt="" class="img-fluid">
         	<p>To generate world class entrepreneurs to meet up the challenges in any field through innovations and research and making them capable of making significant contributions to serve the society & the world at large.</p>
         </div>
         <h3 class="title text-center mb-2">Objectives</h3>
         <div class="title-wls-text text-center mb-2">
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="/static/images/aa1.png" alt="" class="img-fluid">
         	<p>To organise Entrepreneurship Awareness Camps, Entrepreneurship Development Programmes, and Skill Development Programmes in the institution.<br> 1.To initiate five innovative student projects each year for new innovative product development.<br> 2.To organize Business Plan Competitions every year.<br> 3.To guide and assist prospective entrepreneurs on various aspects such as preparing project reports, obtaining project approvals, loans and facilities from agencies of support system, information on technologies, etc.<br> 4.To arrange interaction with entrepreneurs and create a mentorship scheme for student entrepreneurs.<br> 5.To facilitate creation of entrepreneur’s club in each college to foster culture of entrepreneurship amongst students.<br> 6.ToRegional Information Centre on business opportunities, processes, technologies, market, etc by creating and maintaining relevant data base.</p>
         </div>
         </div>
      </div>
   </section>
   <!--//about -->
   <!-- service -->
   <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
      <div class="container  py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title clr text-center mb-2">Our Features</h3>
         <div class="title-wls-text text-center mb-2">
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
         </div>
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="images/aa1.png" alt="" class="img-fluid">
         </div>
         <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s1.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span> 1</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s2.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span> 2</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s3.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span>3</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid mt-lg-5 mt-md-4 mt-3">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s3.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span> 4</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid mt-lg-5 mt-md-4 mt-3">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s1.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span>5</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 service-wthree-grid mt-lg-5 mt-md-4 mt-3">
               <div class="grid">
                  <figure class="effect-goliath">
                     <img src="images/s2.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Service <span>6</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </figcaption>
                  </figure>
                  <div class="ser-para-w3layouts ">
                     <div class="view-buttn">
                        <a href="#contact" class=" scroll">Book Now</a>
                     </div>
                     <p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- //service -->
   <!-- team -->
   <section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
      <div class="container  py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title text-center mb-2">Our Team</h3>
         <div class="title-wls-text text-center mb-2">
         </div>
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="images/aa1.png" alt="" class="img-fluid">
         </div>
         <!-- Hover Effect Style : Demo - 13-->
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t1.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Ajay James</h4>
                     <span class="post">Nodal Officer</span>
                   <!---  <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Ajay James</h4>
                  <h5 class="pt-2 mb-1">Nodal Officer</h5>
                  <p class="pt-2">ajay@gectcr.ac.in</p>
                  <p class="pt-2">9747291957</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t2.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Augustine Charley</h4>
                     <span class="post">CEO</span>
                   <!---  <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>--->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Augustine Charley</h4>
                  <h5 class="pt-2 mb-1">CEO</h5>
                  <p class="pt-2">augustinekcharly@gmail.com</p>
                  <p class="pt-2">9747321604</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t3.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Vishnu Vijay</h4>
                     <span class="post">CMO</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Vishnu Vijay</h4>
                  <h5 class="pt-2 mb-1">CMO</h5>
                  <p class="pt-2">vishnuvijay996@gmail.com</p>
                  <p class="pt-2">8943489545</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t4.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Aswin Kumar R</h4>
                     <span class="post">Head of the FAB lab</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Aswin Kumar R</h4>
                  <h5 class="pt-2 mb-1">Head of the FAB lab</h5>
                  <p class="pt-2">aswinkumar1027@gmail.com</p>
                  <p class="pt-2">9400131477</p><br><br><br>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t5.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Riyamole PE</h4>
                     <span class="post">CDO</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>--->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Riyamole PE</h4>
                  <h5 class="pt-2 mb-1">CDO</h5>
                  <p class="pt-2">riyaesow@gmail.com</p>
                  <p class="pt-2">8086170944</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t6.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Ajin Pius Michel</h4>
                     <span class="post">CSO</span>
                   <!---  <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Ajin Pius Michel</h4>
                  <h5 class="pt-2 mb-1">CSO</h5>
                  <p class="pt-2">ajinmb98@gmail.com</p>
                  <p class="pt-2">8281021268</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t7.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Geo Jose</h4>
                     <span class="post">Chief Communication Officer</span>
                     <!---<ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>--->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Geo Jose</h4>
                  <h5 class="pt-2 mb-1">Chief Communication Officer</h5>
                  <p class="pt-2">geocheeramkuzhy@gmail.com</p>
                  <p class="pt-2">8606660741</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t8.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Akhilesh R Menon</h4>
                     <span class="post">Documentation Head</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Akhilesh R Menon</h4>
                  <h5 class="pt-2 mb-1">Documentation Head</h5>
                  <p class="pt-2">akhileshrmenon@gmail.com</p>
                  <p class="pt-2">9633900896</p><br><br><br>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t9.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Reethu Mathew</h4>
                     <span class="post">CCO</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Reethu Mathew</h4>
                  <h5 class="pt-2 mb-1">CCO</h5>
                  <p class="pt-2">reethuelanjimattathil@gmail.com</p>
                  <p class="pt-2">9747775343</p><br><br><br>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 team-gird-list">
               <div class="box13 text-center">
                  <img src="images/t10.jpg" alt="" class="img-fluid">
                  <div class="box-content">
                     <h4 class="title-team">Shahala O</h4>
                     <span class="post">CTO</span>
                    <!--- <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                     </ul>-->
                  </div>
               </div>
               <div class="team-grid text-center mt-lg-4 mt-3">
                  <h4>Shahala O</h4>
                  <h5 class="pt-2 mb-1">CTO</h5>
                  <p class="pt-2">shahalchiju996@gmail.com</p>
                  <p class="pt-2">9645297272</p><br><br><br>
               </div>
            </div>
            
         </div>
      </div>
   </section>
   <!-- //team -->
   <!-- gallery -->
   <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
      <div class="container  py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title clr text-center mb-2">Gallery</h3>
         <div class="title-wls-text text-center mb-2">
         </div>
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="images/aa1.png" alt="" class="img-fluid">
         </div>
         <div class="text-center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">Hookah-1</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Hookah-2</button>
            <button class="btn btn-default filter-button" data-filter="spray">Hookah-3</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Hookah-4</button>
         </div>
         <div class="row">
            <br/>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter spray">
               <a class="example-image-link" href="images/s1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/s1.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter irrigation ">
               <a class="example-image-link" href="images/s2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/s2.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter spray">
               <a class="example-image-link" href="images/s3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/s3.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter hdpe irrigation">
               <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/g4.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter hdpe ">
               <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/g5.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter hdpe">
               <a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/g6.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter spray sprinkle ">
               <a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/g7.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
            <div class="gallery_product col-lg-3 col-md-6 col-sm-6 filter sprinkle irrigation ">
               <a class="example-image-link" href="images/s1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                  <figure >
                     <img src="images/s1.jpg" alt=" " class="img-fluid" />
                  </figure>
               </a>
            </div>
         </div>
      </div>
   </section>
   <!--//gallery -->
   <!-- gallery -->
   <!-- offers -->
   <section class="offers pt-lg-4 pt-md-3 pt-sm-3 pt-3">
      <div class="container pt-lg-5 pt-md-4 pt-sm-4 pt-3">
         <h3 class="title text-center mb-2">Our Offers</h3>
         <div class="title-wls-text text-center mb-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
         </div>
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="images/aa1.png" alt="" class="img-fluid">
         </div>
      </div>
      <div class="offer-get">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="row offer-price">
               <div class="col-lg-4 offer-grid-colum">
                  <div class="box">
                     <div class="imgBox">
                        <img src="images/g6.jpg" alt="" class="img-fluid">
                     </div>
                     <div class="details">
                        <div class="content ">
                           <div class="demo2-news-date text-center">
                              <ul>
                                 <li><span class="fa fa-calendar" aria-hidden="true"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">offer 12-4-2019</a></li>
                                 <li><span class="fa fa-clock-o"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">12:00 Pm</a></li>
                              </ul>
                           </div>
                           <div class="offer-icons text-center mt-3">
                              <h5 >Follow Us</h5>
                              <ul class="mt-3">
                                 <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="offer-list">
                     <div class="offer-headder-w3pvt">
                        <ul>
                           <li>
                              <h4>Hookah Double Offer</h4>
                           </li>
                           <li >
                              <h5> $ 35:00</h5>
                           </li>
                        </ul>
                     </div>
                     <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqu
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 offer-grid-colum">
                  <div class="box">
                     <div class="imgBox">
                        <img src="images/g4.jpg" alt="" class="img-fluid">
                     </div>
                     <div class="details">
                        <div class="content ">
                           <div class="demo2-news-date text-center">
                              <ul>
                                 <li><span class="fa fa-calendar" aria-hidden="true"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">offer 12-4-2019</a></li>
                                 <li><span class="fa fa-clock-o"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">12:00 Pm</a></li>
                              </ul>
                           </div>
                           <div class="offer-icons text-center mt-3">
                              <h5 >Follow Us</h5>
                              <ul class="mt-3">
                                 <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="offer-list">
                     <div class="offer-headder-w3pvt">
                        <ul>
                           <li>
                              <h4>Hookah Double Offer</h4>
                           </li>
                           <li >
                              <h5> $ 35:00</h5>
                           </li>
                        </ul>
                     </div>
                     <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqu
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 offer-grid-colum">
                  <div class="box">
                     <div class="imgBox">
                        <img src="images/g5.jpg" alt="" class="img-fluid">
                     </div>
                     <div class="details">
                        <div class="content ">
                           <div class="demo2-news-date text-center">
                              <ul>
                                 <li><span class="fa fa-calendar" aria-hidden="true"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">offer 12-4-2019</a></li>
                                 <li><span class="fa fa-clock-o"></span><a href="#" data-toggle="modal" data-target="#exampleModalLive">12:00 Pm</a></li>
                              </ul>
                           </div>
                           <div class="offer-icons text-center mt-3">
                              <h5 >Follow Us</h5>
                              <ul class="mt-3">
                                 <li><a href="#"><span class="fa fa-facebook text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-twitter text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-rss text-center"></span></a></li>
                                 <li><a href="#"><span class="fa fa-vk text-center"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="offer-list">
                     <div class="offer-headder-w3pvt">
                        <ul>
                           <li>
                              <h4>Hookah Double Offer</h4>
                           </li>
                           <li >
                              <h5> $ 35:00</h5>
                           </li>
                        </ul>
                     </div>
                     <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqu
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--//offers -->
   <!--//contact-->
   <section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title text-center mb-2">Contact Us</h3>
         <div class="title-wls-text text-center mb-2">
         </div>
         <div class="title-img text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <img src="images/aa1.png" alt="" class="img-fluid">
         </div>
         <div class="contact-details">
            <form action="#" method="post">
               <div class="row">
                  <div class="col-lg-4 ">
                     <div class=" form-group contact-forms">
                        <input type="text" class="form-control" placeholder="Name" required="">
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="form-group contact-forms">
                        <input type="email" class="form-control" placeholder="Email" required="">
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="form-group contact-forms">
                        <input type="text" class="form-control" placeholder="Phone" required=""> 
                     </div>
                  </div>
               </div>
               <div class="form-group contact-forms">
                  <textarea class="form-control" placeholder="Message" rows="3" required=""></textarea>
               </div>
               <button type="submit" class="btn text-center sent-butnn">Send</button>
            </form>
         </div>
      </div>
   </section>
   <!--//contact -->
   <!-- footer -->
   <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-4 text-center">
         <div class="footer-headder mb-lg-4 mb-3">
            <div class="title-img text-center mb-2">
               <img src="#" alt="" class="img-fluid">
            </div>
            <h2><a href="index.html">IEDC</a></h2>
         </div>
         <div class="row address-contact-form">
            <div class=" footer-contact-list col-lg-4 col-md-4">
               <h6 class="mb-3">Address
               </h6>
               <p>Govt Engineering College,<br>PO,Ramavarmapuram,Thrissur,Kerala,680009
               </p>
            </div>
            <div class="footer-contact-list col-lg-4 col-md-4">
               <h6 class="mb-3">Phone</h6>
               <p>0487 2334590</p>
            </div>
            <div class="footer-contact-list col-lg-4 col-md-4">
               <h6 class="mb-3">Email</h6>
               <p><a href="mailto:info@example.com">info@example.com</a></p>
               <p><a href="mailto:info@example.com">info2@example.com</a></p>
            </div>
         </div>
         <div class="bottem-down-footer mt-lg-4 mt-3">
            <p> 
               © 2018. All Rights Reserved to IEDC
            </p>
         </div>
      </div>
   </footer>
   <!-- //footer -->
   <!--js working-->
   <script src='/static/js/responsiveslides.min.js'></script>
   <script src="/static/js/jquery-2.2.3.min.js"></script>
   <!--//js working-->
   <!--Nav script scrollon--> 
   <script>
      $(window).scroll(function() {
          if ($(document).scrollTop() > 150) {
              $('nav.pagescrollfix,nav.RWDpagescrollfix').addClass('shrink');
          } else {
              $('nav.pagescrollfix,nav.RWDpagescrollfix').removeClass('shrink');
          }
      });
   </script>
   <!--//Nav script scrollon-->
   <!--  light box js -->
   <script src="/static/js/lightbox-plus-jquery.min.js"> </script> 
   <!-- //light box js-->  
   <!--responsiveslides banner-->
   <script src="/static/js/move-top.js"></script>
   <script type="javascript">
      // You can also use "$(window).load(function() {"
      $(function () {
      	// Slideshow 4
      	$("#slider4").responsiveSlides({
      		auto: true,
      		pager:true ,
      		nav:false,
      		speed: 900,
      		namespace: "callbacks",
      		before: function () {
      			$('.events').append("<li>before event fired.</li>");
      		},
      		after: function () {
      			$('.events').append("<li>after event fired.</li>");
      		}
      	});
      
      });
   </script>
   <!--// responsiveslides banner-->	 
   <!--gallery-->
   <script type="javascript">
      $(document).ready(function(){
      
       $(".filter-button").click(function(){
           var value = $(this).attr('data-filter');
           
           if(value == "all")
           {
               //$('.filter').removeClass('hidden');
               $('.filter').show('1000');
           }
           else
           {
      //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
      //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
               $(".filter").not('.'+value).hide('3000');
               $('.filter').filter('.'+value).show('3000');
               
           }
       });
       
       if ($(".filter-button").removeClass("active")) {
      $(this).removeClass("active");
      }
      $(this).addClass("active");
      
      });
   </script>
   <!--// gallery-->
   <!-- start-smoth-scrolling -->
   <script src="/static/js/easing.js"></script>
   
   <script>
      jQuery(document).ready(function ($) {
      	$(".scroll").click(function (event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop: $(this.hash).offset().top
      		}, 900);
      	});
      });
   </script>
   <!-- start-smoth-scrolling -->
   <!-- here stars scrolling icon -->
   <script type="javascript">
      $(document).ready(function () {
      	var defaults = {
      		containerID: 'toTop', // fading element id
      		containerHoverID: 'toTopHover', // fading element hover id
      		scrollSpeed: 1200,
      		easingType: 'linear'
      	};
      	$().UItoTop({
      		easingType: 'easeOutQuart'
      	});
      
      });
   </script>
   <!-- //here ends scrolling icon -->
   <!--bootstrap working-->
   <script src="/static/js/bootstrap.min.js"></script>
   <!-- //bootstrap working-->
   </body>
</html>